<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/monday">
        <div>
             <h1>Monday</h1>
        </div>
    </a>
    <a href="/tuesday">
        <div>
             <h1>Tuesday</h1>
        </div>
    </a>
</body>
</html>