<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Add missing day/meal</h1>
    </div>
    <form action="/" method="post">
        <input type="text" name="dayOfTheWeek" placeholder="What Day?">

        <input type="text" name="mealOne" placeholder="Breakfast description">
        <input type="number" name="howManyPeopleBreakfast" placeholder="For how many?">
        <input type="checkbox" name="isItPreparedOne">

        <input type="text" name="mealTwo" placeholder="Lunch description">
        <input type="number" name="howManyPeopleLunch" placeholder="For how many?">
        <input type="checkbox" name="isItPreparedTwo">

        <input type="text" name="mealThree" placeholder="Dinner description">
        <input type="number" name="howManyPeopleDinner" placeholder="For how many?">
        <input type="checkbox" name="isItPreparedThree">

        <input type="submit" value="Add day/meal">
    </form>
</body>
</html>