<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><%= meal.dayOfTheWeek %></h1>
        <div>
            <h2>Breakfast:</h2>
            <!-- <h3><%= meal.breakfast %></h3>
            <h2>How many people?</h2>
            <h3><%= meal.forHowManyPeople %></h3>
            <h2>Prep'd? <%= meal.isItPrepared ? "YES" : "NO" %></h2> -->
        </div>
    </div>
</body>
</html>